taxcalc/pit_kenya_wide.csv
taxcalc/pit_kenya_medium.csv
taxcalc/pit_weights_kenya.csv
taxcalc/pit_kenya.csv
taxcalc/pit_kenya1.csv
taxcalc/pit_sample_2025.csv
taxcalc/cit_kenya_2024_big.csv
decile_data.csv
